<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>1.5</string>
			<key>bullettype</key>
			<integer>7</integer>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>4.0</string>
			<key>canon</key>
			<string>enemy/canon1.png</string>
			<key>armor</key>
			<string>enemy/armor1.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>3.0</string>
			<key>bullettype</key>
			<integer>8</integer>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>4.0</string>						
			<key>canon</key>
			<string>enemy/canon2.png</string>
			<key>armor</key>
			<string>enemy/armor2.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>1.5</string>
			<key>bullettype</key>
			<integer>9</integer>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon3.png</string>
			<key>armor</key>
			<string>enemy/armor3.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>1.5</string>
			<key>bullettype</key>
			<integer>10</integer>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>4.0</string>
			<key>canon</key>
			<string>enemy/canon4.png</string>
			<key>armor</key>
			<string>enemy/armor4.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>3.0</string>
			<key>bullettype</key>
			<integer>11</integer>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>4.0</string>	
			<key>canon</key>
			<string>enemy/canon5.png</string>
			<key>armor</key>
			<string>enemy/armor5.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>1.5</string>
			<key>bullettype</key>
			<integer>12</integer>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>6.0</string>	
			<key>canon</key>
			<string>enemy/canon6.png</string>
			<key>armor</key>
			<string>enemy/armor6.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>2.0</string>
			<key>bullettype</key>
			<integer>7</integer>
			<key>bullettime</key>
			<string>1.8</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon7.png</string>
			<key>armor</key>
			<string>enemy/armor7.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>8</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>4.0</string>
			<key>bullettype</key>
			<integer>8</integer>
			<key>bullettime</key>
			<string>1.8</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon8.png</string>
			<key>armor</key>
			<string>enemy/armor8.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>9</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>2.0</string>
			<key>bullettype</key>
			<integer>9</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon9.png</string>
			<key>armor</key>
			<string>enemy/armor9.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel1.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel2.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>10</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>2.0</string>
			<key>bullettype</key>
			<integer>10</integer>
			<key>bullettime</key>
			<string>1.8</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon10.png</string>
			<key>armor</key>
			<string>enemy/armor10.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>11</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>4.0</string>
			<key>bullettype</key>
			<integer>11</integer>
			<key>bullettime</key>
			<string>1.8</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon11.png</string>
			<key>armor</key>
			<string>enemy/armor11.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>12</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>2.0</string>
			<key>bullettype</key>
			<integer>12</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon12.png</string>
			<key>armor</key>
			<string>enemy/armor12.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>13</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>7</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon13.png</string>
			<key>armor</key>
			<string>enemy/armor13.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>14</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>4.0</string>
			<key>bullettype</key>
			<integer>8</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon14.png</string>
			<key>armor</key>
			<string>enemy/armor14.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>15</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>9</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon15.png</string>
			<key>armor</key>
			<string>enemy/armor15.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>16</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>10</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon16.png</string>
			<key>armor</key>
			<string>enemy/armor16.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>17</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>4.0</string>
			<key>bullettype</key>
			<integer>11</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon17.png</string>
			<key>armor</key>
			<string>enemy/armor17.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>18</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>12</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon18.png</string>
			<key>armor</key>
			<string>enemy/armor18.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>19</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>7</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon19.png</string>
			<key>armor</key>
			<string>enemy/armor19.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>20</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>4.0</string>
			<key>bullettype</key>
			<integer>8</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon20.png</string>
			<key>armor</key>
			<string>enemy/armor20.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>21</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>9</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon21.png</string>
			<key>armor</key>
			<string>enemy/armor21.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>22</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>10</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon22.png</string>
			<key>armor</key>
			<string>enemy/armor22.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>23</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>4.0</string>
			<key>bullettype</key>
			<integer>11</integer>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon23.png</string>
			<key>armor</key>
			<string>enemy/armor23.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>24</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>3.0</string>
			<key>bullettype</key>
			<integer>12</integer>
			<key>bullettime</key>
			<string>1.0</string>
			<key>bulletspeed</key>
			<string>6.5</string>
			<key>canon</key>
			<string>enemy/canon24.png</string>
			<key>armor</key>
			<string>enemy/armor24.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>25</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>3.0</string>
			<key>bullettype</key>
			<integer>7</integer>
			<key>bullettime</key>
			<string>1.0</string>
			<key>bulletspeed</key>
			<string>6.5</string>
			<key>canon</key>
			<string>enemy/canon25.png</string>
			<key>armor</key>
			<string>enemy/armor25.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>26</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>5.0</string>
			<key>bullettype</key>
			<integer>8</integer>
			<key>bullettime</key>
			<string>1.0</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon26.png</string>
			<key>armor</key>
			<string>enemy/armor26.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>27</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>9</integer>
			<key>bullettime</key>
			<string>1.0</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon27.png</string>
			<key>armor</key>
			<string>enemy/armor27.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>28</integer>
			<key>ai</key>
			<integer>1</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>10</integer>
			<key>bullettime</key>
			<string>1.0</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon28.png</string>
			<key>armor</key>
			<string>enemy/armor28.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>29</integer>
			<key>ai</key>
			<integer>2</integer>
			<key>speed</key>
			<string>4.0</string>
			<key>bullettype</key>
			<integer>11</integer>
			<key>bullettime</key>
			<string>1.2</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>canon</key>
			<string>enemy/canon29.png</string>
			<key>armor</key>
			<string>enemy/armor29.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
		<dict>
			<key>id</key>
			<integer>30</integer>
			<key>ai</key>
			<integer>3</integer>
			<key>speed</key>
			<string>2.5</string>
			<key>bullettype</key>
			<integer>12</integer>
			<key>bullettime</key>
			<string>1.2</string>
			<key>bulletspeed</key>
			<string>6.0</string>
			<key>canon</key>
			<string>enemy/canon30.png</string>
			<key>armor</key>
			<string>enemy/armor30.png</string>
			<key>trackwheel</key>
			<string>enemy/trackwheel3.png</string>
			<key>trackwhee2</key>
			<string>enemy/trackwheel4.png</string>
		</dict>
	</array>
</plist>
