<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<string>1</string>
			<key>add0</key>
			<string>3</string>
			<key>add1</key>
			<string>3</string>
			<key>add2</key>
			<string>3</string>
			<key>add3</key>
			<string>3</string>
			<key>add4</key>
			<string>0</string>
			<key>price0</key>
			<string>20</string>
			<key>price1</key>
			<string>30</string>
			<key>price2</key>
			<string>50</string>
			<key>price3</key>
			<string>100</string>
			<key>price4</key>
			<string>0</string>
		</dict>
		<dict>
			<key>id</key>
			<string>2</string>
			<key>add0</key>
			<string>3</string>
			<key>add1</key>
			<string>3</string>
			<key>add2</key>
			<string>4</string>
			<key>add3</key>
			<string>5</string>
			<key>add4</key>
			<string>0</string>
			<key>price0</key>
			<string>100</string>
			<key>price1</key>
			<string>200</string>
			<key>price2</key>
			<string>300</string>
			<key>price3</key>
			<string>600</string>
			<key>price4</key>
			<string>0</string>
		</dict>
		<dict>
			<key>id</key>
			<string>3</string>
			<key>add0</key>
			<string>4</string>
			<key>add1</key>
			<string>4</string>
			<key>add2</key>
			<string>5</string>
			<key>add3</key>
			<string>5</string>
			<key>add4</key>
			<string>0</string>
			<key>price0</key>
			<string>800</string>
			<key>price1</key>
			<string>1000</string>
			<key>price2</key>
			<string>1200</string>
			<key>price3</key>
			<string>1500</string>
			<key>price4</key>
			<string>0</string>
		</dict>
		<dict>
			<key>id</key>
			<string>4</string>
			<key>add0</key>
			<string>5</string>
			<key>add1</key>
			<string>5</string>
			<key>add2</key>
			<string>5</string>
			<key>add3</key>
			<string>5</string>
			<key>add4</key>
			<string>0</string>
			<key>price0</key>
			<string>2000</string>
			<key>price1</key>
			<string>3000</string>
			<key>price2</key>
			<string>4000</string>
			<key>price3</key>
			<string>6000</string>
			<key>price4</key>
			<string>0</string>
		</dict>
		<dict>
			<key>id</key>
			<string>5</string>
			<key>add0</key>
			<string>6</string>
			<key>add1</key>
			<string>6</string>
			<key>add2</key>
			<string>6</string>
			<key>add3</key>
			<string>6</string>
			<key>add4</key>
			<string>0</string>
			<key>price0</key>
			<string>6000</string>
			<key>price1</key>
			<string>8000</string>
			<key>price2</key>
			<string>10000</string>
			<key>price3</key>
			<string>16000</string>
			<key>price4</key>
			<string>0</string>
		</dict>
	</array>
</plist>
