<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,46},{20,22}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,52},{20,22}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,68},{60,46}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{60,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,68},{56,42}}</string>
                <key>offset</key>
                <string>{17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{56,42}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,126},{42,46}}</string>
                <key>offset</key>
                <string>{-11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,43},{42,46}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{40,42}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{40,42}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{64,68}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{64,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,64}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{70,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{68,62}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{68,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{64,60}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{64,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,66},{64,62}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{58,48}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{58,48}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boom.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c98c0462d0d94f85cee1d9687277c7c$</string>
            <key>textureFileName</key>
            <string>boom.png</string>
        </dict>
    </dict>
</plist>
