<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{147,147}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{147,147}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{145,145}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{145,145}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,155}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{139,137}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{139,137}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{127,125}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{127,125}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,159},{143,141}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{143,141}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,308},{145,143}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{145,143}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,129},{91,97}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,35},{91,97}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bulletBoom.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15617c10c0a1d9003df728d2ea345396:1/1$</string>
            <key>textureFileName</key>
            <string>bulletBoom.png</string>
        </dict>
    </dict>
</plist>
