<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{61,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,55}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
            <key>kp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{77,73}}</string>
                <key>sourceSize</key>
                <string>{87,75}</string>
            </dict>
            <key>kp3.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,77},{57,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,51}}</string>
                <key>sourceSize</key>
                <string>{61,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fireeffect.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32c0f1c340d245f13caa1df5a1a22148$</string>
            <key>textureFileName</key>
            <string>fireeffect.png</string>
        </dict>
    </dict>
</plist>
