<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,142},{104,52}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,99},{104,52}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,434},{106,58}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,98},{106,58}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,434},{128,62}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,89},{128,62}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,294},{138,88}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,64},{138,88}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,294},{138,130}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{138,130}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,142},{132,150}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,150}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerAppear.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482defc381617c185556b33285fc8f24$</string>
            <key>textureFileName</key>
            <string>playerAppear.png</string>
        </dict>
    </dict>
</plist>
