<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>attack</key>
			<string>54</string>
			<key>defense</key>
			<string>30</string>
			<key>speed</key>
			<string>1.0</string>
			<key>hp</key>
			<string>80</string>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>5.0</string>
			<key>money</key>
			<integer>50</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>attack</key>
			<string>175</string>
			<key>defense</key>
			<string>40</string>
			<key>speed</key>
			<string>1.0</string>
			<key>hp</key>
			<string>96</string>
			<key>bullettime</key>
			<string>1.5</string>
			<key>bulletspeed</key>
			<string>5.0</string>
			<key>money</key>
			<integer>65</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>attack</key>
			<string>406</string>
			<key>defense</key>
			<string>50</string>
			<key>speed</key>
			<string>1.2</string>
			<key>hp</key>
			<string>108</string>
			<key>bullettime</key>
			<string>1.2</string>
			<key>bulletspeed</key>
			<string>5.2</string>
			<key>money</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>attack</key>
			<string>780</string>
			<key>defense</key>
			<string>64</string>
			<key>speed</key>
			<string>1.2</string>
			<key>hp</key>
			<string>115</string>
			<key>bullettime</key>
			<string>1.2</string>
			<key>bulletspeed</key>
			<string>4.5</string>
			<key>money</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>attack</key>
			<string>1364</string>
			<key>defense</key>
			<string>80</string>
			<key>speed</key>
			<string>1.2</string>
			<key>hp</key>
			<string>120</string>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>4.0</string>
			<key>money</key>
			<integer>150</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>attack</key>
			<string>27</string>
			<key>defense</key>
			<string>20</string>
			<key>speed</key>
			<string>0.6</string>
			<key>hp</key>
			<string>60</string>
			<key>bullettime</key>
			<string>2.0</string>
			<key>bulletspeed</key>
			<string>4.0</string>
			<key>money</key>
			<integer>30</integer>
		</dict>
	</array>
</plist>