<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>price</key>
			<string>2元</string>
			<key>add</key>
			<integer>20</integer>
			<key>path1</key>
			<string>shop/diamond1.png</string>
			<key>path2</key>
			<string>shop/itembuy1.png</string>
			<key>name</key>
			<string>20钻石</string>
			<key>isPromotion</key>
			<string>false</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>price</key>
			<string>5元</string>
			<key>add</key>
			<integer>65</integer>
			<key>path1</key>
			<string>shop/diamond2.png</string>
			<key>path2</key>
			<string>shop/itembuy1.png</string>
			<key>name</key>
			<string>65钻石</string>
			<key>isPromotion</key>
			<string>true</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>price</key>
			<string>15元</string>
			<key>add</key>
			<integer>245</integer>
			<key>path1</key>
			<string>shop/diamond3.png</string>
			<key>path2</key>
			<string>shop/itembuy1.png</string>
			<key>name</key>
			<string>245钻石</string>
			<key>isPromotion</key>
			<string>true</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
			<key>price</key>
			<string>25元</string>
			<key>add</key>
			<integer>500</integer>
			<key>path1</key>
			<string>shop/diamond4.png</string>
			<key>path2</key>
			<string>shop/itembuy1.png</string>
			<key>name</key>
			<string>500钻石</string>
			<key>isPromotion</key>
			<string>true</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>price</key>
			<integer>10</integer>
			<key>add</key>
			<integer>1000</integer>
			<key>path1</key>
			<string>shop/item1.png</string>
			<key>path2</key>
			<string>shop/itembuy2.png</string>
			<key>name</key>
			<string>1000金币</string>
			<key>isPromotion</key>
			<string>false</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
			<key>price</key>
			<integer>100</integer>
			<key>add</key>
			<integer>10000</integer>
			<key>path1</key>
			<string>shop/item3.png</string>
			<key>path2</key>
			<string>shop/itembuy2.png</string>
			<key>name</key>
			<string>10000金币</string>
			<key>isPromotion</key>
			<string>false</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>price</key>
			<integer>10</integer>
			<key>add</key>
			<integer>1</integer>
			<key>path1</key>
			<string>shop/item9.png</string>
			<key>path2</key>
			<string>shop/itembuy2.png</string>
			<key>name</key>
			<string>轰炸机x1</string>
			<key>isPromotion</key>
			<string>false</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>price</key>
			<integer>100</integer>
			<key>add</key>
			<integer>15</integer>
			<key>path1</key>
			<string>shop/item10.png</string>
			<key>path2</key>
			<string>shop/itembuy2.png</string>
			<key>name</key>
			<string>轰炸机x15</string>
			<key>isPromotion</key>
			<string>true</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
			<key>price</key>
			<integer>10</integer>
			<key>add</key>
			<integer>1</integer>
			<key>path1</key>
			<string>shop/item11.png</string>
			<key>path2</key>
			<string>shop/itembuy2.png</string>
			<key>name</key>
			<string>飞行器x1</string>
			<key>isPromotion</key>
			<string>false</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
			<key>price</key>
			<integer>100</integer>
			<key>add</key>
			<integer>15</integer>
			<key>path1</key>
			<string>shop/item12.png</string>
			<key>path2</key>
			<string>shop/itembuy2.png</string>
			<key>name</key>
			<string>飞行器x15</string>
			<key>isPromotion</key>
			<string>true</string>
		</dict>
	</array>
</plist>
