<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>menubg</key>
			<string>shop/menu_canon.png</string>
			<key>EquipDescription1</key>
			<string>装备说明：其实就是换上了弹药，不过可以用来吓人。攻击力+10</string>
			<key>EquipDescription2</key>
			<string>装备说明：看上去非常威武，用起来貌似也不错。攻击力+12</string>
			<key>EquipDescription3</key>
			<string>装备说明：勇气沸腾想要散发出来，似乎真的可以去当勇者了。攻击力+15</string>
			<key>EquipDescription4</key>
			<string>装备说明：强大的攻击力，史上排名第二的坦克炮，值得拥有。攻击力+18</string>
			<key>EquipDescription5</key>
			<string>装备说明：最强的火炮，没有比这个更炫了，你还有什么不满意的吗？攻击力+20</string>
			<key>addAttack1</key>
			<integer>10</integer>
			<key>addAttack2</key>
			<integer>12</integer>
			<key>addAttack3</key>
			<integer>15</integer>
			<key>addAttack4</key>
			<integer>18</integer>
			<key>addAttack5</key>
			<integer>20</integer>
			<key>level0</key>
			<string>shop/canon0.png</string>
			<key>level1</key>
			<string>shop/canon1.png</string>
			<key>level2</key>
			<string>shop/canon2.png</string>
			<key>level3</key>
			<string>shop/canon3.png</string>
			<key>level4</key>
			<string>shop/canon4.png</string>
			<key>level5</key>
			<string>shop/canon5.png</string>
			<key>price1</key>
			<integer>200</integer>
			<key>price2</key>
			<integer>500</integer>
			<key>price3</key>
			<integer>1000</integer>
			<key>price4</key>
			<integer>1800</integer>
			<key>price5</key>
			<integer>2600</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>menubg</key>
			<string>shop/menu_armor.png</string>
			<key>EquipDescription1</key>
			<string>装备说明：只是多了一些修饰的钢甲，是什么钢自己去猜。防御力+12</string>
			<key>EquipDescription2</key>
			<string>装备说明：钢造的，非常坚硬但不防震，驾驶人员很容易脑震荡。防御力+15</string>
			<key>EquipDescription3</key>
			<string>装备说明：用沙子非常仔细的打磨过，自信满满的作品。防御力+18</string>
			<key>EquipDescription4</key>
			<string>装备说明：相当优秀的防御能力，助你驰骋疆场。防御力+20</string>
			<key>EquipDescription5</key>
			<string>装备说明：只有久经沙场独孤求败的你才有资格拥有。防御力+24</string>
			<key>addDefence1</key>
			<integer>12</integer>
			<key>addDefence2</key>
			<integer>15</integer>
			<key>addDefence3</key>
			<integer>18</integer>
			<key>addDefence4</key>
			<integer>20</integer>
			<key>addDefence5</key>
			<integer>24</integer>
			<key>level0</key>
			<string>shop/armor0.png</string>
			<key>level1</key>
			<string>shop/armor1.png</string>
			<key>level2</key>
			<string>shop/armor2.png</string>
			<key>level3</key>
			<string>shop/armor3.png</string>
			<key>level4</key>
			<string>shop/armor4.png</string>
			<key>level5</key>
			<string>shop/armor5.png</string>
			<key>price1</key>
			<integer>200</integer>
			<key>price2</key>
			<integer>500</integer>
			<key>price3</key>
			<integer>1000</integer>
			<key>price4</key>
			<integer>1800</integer>
			<key>price5</key>
			<integer>2600</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>menubg</key>
			<string>shop/menu_trackwheel.png</string>
			<key>EquipDescription1</key>
			<string>装备说明：稍微改变了些造型而已，速度小有提升。移动速度+0.4</string>
			<key>EquipDescription2</key>
			<string>装备说明：可以承受较强的压力，装上后似乎开的不慢。移动速度+0.4</string>
			<key>EquipDescription3</key>
			<string>装备说明：已经不错的行驶能力，还有继续提升空间。移动速度+0.4</string>
			<key>EquipDescription4</key>
			<string>装备说明：优秀的合金打造，似乎燃起了飙坦克的欲望。移动速度+0.4</string>
			<key>EquipDescription5</key>
			<string>装备说明：又硬又轻，装上它可以跑第一名。移动速度+0.4</string>
			<key>addSpeed1</key>
			<string>0.4</string>
			<key>addSpeed2</key>
			<string>0.4</string>
			<key>addSpeed3</key>
			<string>0.4</string>
			<key>addSpeed4</key>
			<string>0.4</string>
			<key>addSpeed5</key>
			<string>0.4</string>
			<key>level0</key>
			<string>shop/trackwheel0.png</string>
			<key>level1</key>
			<string>shop/trackwheel1.png</string>
			<key>level2</key>
			<string>shop/trackwheel2.png</string>
			<key>level3</key>
			<string>shop/trackwheel3.png</string>
			<key>level4</key>
			<string>shop/trackwheel4.png</string>
			<key>level5</key>
			<string>shop/trackwheel5.png</string>
			<key>price1</key>
			<integer>200</integer>
			<key>price2</key>
			<integer>500</integer>
			<key>price3</key>
			<integer>1000</integer>
			<key>price4</key>
			<integer>1800</integer>
			<key>price5</key>
			<integer>2600</integer>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>menubg</key>
			<string>shop/menu_chip.png</string>
			<key>EquipDescription1</key>
			<string>装备说明：硅胶？你懂的。充门面还是必须的。坦克血量+30</string>
			<key>EquipDescription2</key>
			<string>装备说明：前几年的产物，虽不是主流，但也不过时。坦克血量+35</string>
			<key>EquipDescription3</key>
			<string>装备说明：主流配置，怎么看都挺实用的。坦克血量+40</string>
			<key>EquipDescription4</key>
			<string>装备说明：高科技时代的产物，有了它，用很久也不会淘汰。坦克血量+45</string>
			<key>EquipDescription5</key>
			<string>装备说明：利用古代原料和氏璧及未来科技顶尖工艺打造，极具实用性且价值连城。坦克血量+50</string>
			<key>addHp1</key>
			<integer>30</integer>
			<key>addHp2</key>
			<integer>35</integer>
			<key>addHp3</key>
			<integer>40</integer>
			<key>addHp4</key>
			<integer>45</integer>
			<key>addHp5</key>
			<integer>50</integer>
			<key>level0</key>
			<string>shop/chip0.png</string>
			<key>level1</key>
			<string>shop/chip1.png</string>
			<key>level2</key>
			<string>shop/chip2.png</string>
			<key>level3</key>
			<string>shop/chip3.png</string>
			<key>level4</key>
			<string>shop/chip4.png</string>
			<key>level5</key>
			<string>shop/chip5.png</string>
			<key>price1</key>
			<integer>200</integer>
			<key>price2</key>
			<integer>500</integer>
			<key>price3</key>
			<integer>1000</integer>
			<key>price4</key>
			<integer>1800</integer>
			<key>price5</key>
			<integer>2600</integer>
		</dict>
	</array>
</plist>
