<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,548},{239,190}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,156},{239,190}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,548},{533,494}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{533,494}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{609,544}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{609,544}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,2},{651,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,574}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{651,574}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,578},{253,204}}</string>
                <key>offset</key>
                <string>{-18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,148},{253,204}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1343},{267,218}}</string>
                <key>offset</key>
                <string>{-18,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,141},{267,218}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1044},{279,232}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,133},{279,232}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1044},{297,246}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,126},{297,246}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1571},{311,260}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,118},{311,260}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1571},{389,352}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,101},{389,352}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{485,430}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{485,430}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{525,470}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,46},{525,470}}</string>
                <key>sourceSize</key>
                <string>{651,574}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelup.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0b566551b18f1afe07764c58c12a80b$</string>
            <key>textureFileName</key>
            <string>levelup.png</string>
        </dict>
    </dict>
</plist>
