<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,168},{164,174}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{164,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,334},{172,166}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{172,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{180,162}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{172,174}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{172,174}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{176,164}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{176,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{174,166}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{174,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,168},{156,172}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{156,172}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>portal.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3836b77adfc9dd97dbc2c9ecca7d559d:1/1$</string>
            <key>textureFileName</key>
            <string>portal.png</string>
        </dict>
    </dict>
</plist>
