<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,63},{14,14}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{90,90}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,266},{66,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{66,68}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,308},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,51},{38,38}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,266},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{40,40}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{56,56}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,188},{78,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{78,76}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,348},{112,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{112,114}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{120,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{120,120}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{92,92}}</string>
                <key>sourceSize</key>
                <string>{142,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Summon.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da2bce8223c4551a10cb085d26ebdfff:1/1$</string>
            <key>textureFileName</key>
            <string>Summon.png</string>
        </dict>
    </dict>
</plist>
